
.input-user {
    background-color: transparent !important;
    border-radius: 0 !important;
    border: 2px solid #00376A !important;
    font-size: 16px !important;
    text-align: center !important;
    box-sizing: border-box !important;
    padding: 8px !important; 
    margin: 4px !important;
  }
  .input-user::placeholder {
    color: #00376A !important;
  }

  .input-field {
    width: 100% !important;
    padding: 5px !important;
    margin-bottom: 10px !important;
    border: 1px solid #00376A  !important;
    border-radius: 3px !important;
  }

  /* Estilo para el ícono de subir imagen */
.upload-icon {
  display: inline-block;
  margin-left: 10px; /* Puedes ajustar el espacio entre el texto y el ícono según tus necesidades */
  cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
}

/* Estilo para el input oculto */
#formFile {
  display: none; /* Asegura que el input esté oculto */
}


.rectangle-div {
  border-radius: 0 !important;
  border: 3px dashed #00376A !important;
  text-align: center !important;
  padding: 8px !important; 
  margin: 4px !important;
}
